*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}

/*Header Start*/
#header{
    transition: background-color 0.3s;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 68;
}

#header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}
#logo{
    width: 70%;
    display: inline-block;
    font-weight: bold;
}
#nav-toggle{
    width: 70px;
    display:inline-block;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}
#logo a{
    font-size: 1.7em;
    padding: 30px;
    padding-left: 15px;
    display: inline-block;
}
#header.open #navigation{
    transform: translateX(0px);
}
#header.open #nav-toggle{
    background-color: rgba(255,255,255,0.2);
}
#header.scrolled{
    background-color: #3d405b;
}

#navigation{
    width: 300px;
    left: 0;
    position: absolute;
    background-color: #3d405b;
    min-height: 100vh;
    transform: translateX(-300px);
    transition: transform 0.4s;
}
#navigation a{
    display: block;
    opacity: 0.8;
    text-transform: uppercase;
}
#navigation a:hover{
    opacity: 1;
}

.contain-own{
    padding: 15px;
    max-width: 1100px;
    margin: auto;
}
/*Header End*/


/*Intro Start*/
#intro{
background-image: linear-gradient(rgba(61,64,91,1),rgba(61,64,91,0.5)), url("../images/portfolioimg_reducedsize.jpg");
   min-height: 500px;
    background-size: cover;


}

.intro-text{
    position: relative;
    top: 100px;
    font-size: 1.2em;
    color: white;
    text-align: center;
}
.intro-text h1 strong, .intro-text h1 em{
    display: block;
    padding: 5px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #e07a5f;

}
.call-to-action{
    margin: 20px 0;
}
.intro-text .call-to-action{
    width: 60%;
    margin: auto;
}
.intro-text .btn{
    display: block;
    margin: 10px 0;

}
.btn{
   padding: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
}
.btn i{
    margin-right: 10px;
}
.btn-highlight{
    color: white;
    background-color: #3d405b;
}
.btn-bg{
    color: white;
    background-color: #e07a5f;
}
/*Intro End*/

/*About me - Start*/
#about-me{
    background-image: linear-gradient(rgba(61,64,91,1),rgba(61,64,91,0.5)), url("../images/portfolioimg_reducedsize.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;

}
.whoiam-text h4{
    padding: 20px;
    font-size: 2em;
    text-transform: uppercase;

}
.whoiam-text p{
    padding: 10px 0;
}


/*About me - End*/

/*Services start*/
.service{
    margin: 20px 0;
    text-align: center;
}
.service:hover .service-icon{
    background-color: #e07a5f;
    outline-offset: 5px;
    outline-color: #e07a5f;
    /*border: 2px solid #e07a5f;*/
}
.service-icon{
    font-size: 3.5em;
    margin: 30px 0;
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    padding: 20px;
    color: white;
    /*To make it block we need a firm block with and height*/
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
    outline: 5px solid transparent;
    outline-offset: 0;
    transition: all 0.4s;
}
.service-icon i{
    transform: rotate(-45deg);
}
.service-title{
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
}
.service-desc{
    padding: 5px 0;
}
/*Sevices ke service par when we hover , then it should show the content */
#services .service:hover .service-desc{
    opacity: 1;
}
#services .service-desc{
    opacity: 0;
    transition: opacity 0.4s;
}
/*Services end*/
/*History start*/
#history{
    background-color: #e07a5f;
    color: white;

}
/*History container*/
.history{
    margin: 30px 0;
}
.history-title .icon{
    color: #3d405b;
    display: inline-block;
    margin-right: 5px;
}
.history-title{
    font-size: 1.2em;
    padding: 10px 0;
}
.history-title .text{
    display: inline-block;
}



.events-container{
    margin: 30px 0;
    position: relative;
}
.events-container::before{
    content: '';
    display: block;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    width: 25px;
    position: absolute;
    border-radius: 20px;
}

.event-date{
    font-size: 1.1em;
    font-style: italic;
    opacity: 0.9;
    padding: 10px 0;
    padding-left: 40px;
    position: relative;
}
.event-date:before{
    content: '';
    display: block;
    background-color: #3d405b;
    width: 25px;
    height: 25px;
    left: 0px;
    border-radius: 100px;
    position: absolute;
}
.event-title{
    padding: 15px;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 40px;
}
.event-result{
    font-style: italic;
    font-size: 1.1em;
    opacity: 0.9;
    padding: 10px 0;
    padding-left: 40px;

}
.event-desc{
    padding: 5px 0;
    padding-left: 40px;
}
#history .btn{
    display: block;
}
/*History end*/